* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: lightgray;
    color: white;
}
header {
    font-size: 30px;
}

header,
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 10px;
    font-size: 15px;
    border: none;
    background: white;
}
form button {
    background: #ff6f47;
    color: white;
    cursor: pointer;
}


.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 10px;
    background: white;
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 10px;
}

.todo-item {
    padding: 10px 10px;
}







